.formGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.formGroup label {
  margin: 1rem;
  font-size: 1.5rem;
}

.formGroup input,
.formGroup textarea {
  border-radius: 2rem;
  border: none;
  font-size: inherit;
  padding: 0.5rem 1.5rem;
}

.formGroup select {
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  font-family: var(--ff-headings);
  font-size: 0.8rem;
}


/*MEDIA QUERIES*/

/*Extra Small, Mobile*/
@media (min-width: 500px) {
  .formGroup select {
    font-size: inherit;
  }
}

/* Small Devices, Tablets */
@media (min-width: 768px) {
  .formGroup {
    padding: 0.5rem 2rem;
  }
}
